// Fonts
@font-face {
  font-family: 'CenturySchoolbook';
  src: url('//static.kent.ac.uk/pantheon/static/webfonts/censcbk-webfont.eot');
  src: local('Century Schoolbook'), local('CenturySchoolbook'),
  url('//static.kent.ac.uk/pantheon/static/webfonts/censcbk-webfont.woff') format('woff'),
  url('//static.kent.ac.uk/pantheon/static/webfonts/censcbk-webfont.ttf') format('truetype'),
  url('//static.kent.ac.uk/pantheon/static/webfonts/censcbk-webfont.svg#webfontTvZDraOm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialLight';
  src: url('../fonts/arialmt-light-webfont.eot');
  src: url('../fonts/arialmt-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/arialmt-light-webfont.woff2') format('woff2'),
  url('../fonts/arialmt-light-webfont.woff') format('woff'),
  url('../fonts/arialmt-light-webfont.ttf') format('truetype'),
  url('../fonts/arialmt-light-webfont.svg#ariallight') format('svg');
  font-weight: normal;
  font-style: normal;

}