// Fonts
@font-face {
    font-family: 'Century Schoolbook';
    src:         url('#{$fonts_dir}CenturySchoolbook.eot');
    src:         local('Century Schoolbook'), local('CenturySchoolbook'),
                 url('#{$fonts_dir}CenturySchoolbook.eot?#iefix') format('embedded-opentype'),
                 url('#{$fonts_dir}CenturySchoolbook.woff2') format('woff2'),
                 url('#{$fonts_dir}CenturySchoolbook.woff') format('woff'),
                 url('#{$fonts_dir}CenturySchoolbook.ttf') format('truetype'),
                 url('#{$fonts_dir}CenturySchoolbook.svg#CenturySchoolbook') format('svg');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'ArialLight';
    src:         url('#{$fonts_dir}arialmt/arialmt-light-webfont.eot');
    src:         url('#{$fonts_dir}arialmt/arialmt-light-webfont.eot?#iefix') format('embedded-opentype'),
                 url('#{$fonts_dir}arialmt/arialmt-light-webfont.woff2') format('woff2'),
                 url('#{$fonts_dir}arialmt/arialmt-light-webfont.woff') format('woff'),
                 url('#{$fonts_dir}arialmt/arialmt-light-webfont.ttf') format('truetype'),
                 url('#{$fonts_dir}arialmt/arialmt-mtlight-webfont.svg#arial_mtmt_light') format('svg');
    font-weight: normal;
    font-style:  normal;

}

@font-face {
    font-family: 'ArialLight';
    src:         url('#{$fonts_dir}arialmt/arialmt-lightitalic-webfont.eot');
    src:         url('#{$fonts_dir}arialmt/arialmt-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
                 url('#{$fonts_dir}arialmt/arialmt-lightitalic-webfont.woff2') format('woff2'),
                 url('#{$fonts_dir}arialmt/arialmt-lightitalic-webfont.woff') format('woff'),
                 url('#{$fonts_dir}arialmt/arialmt-lightitalic-webfont.ttf') format('truetype'),
                 url('#{$fonts_dir}arialmt/arialmt-lightitalic-webfont.svg#arial_mtlight_italic') format('svg');
    font-weight: normal;
    font-style:  italic;

}

@font-face {
    font-family: 'ArialLight';
    src:         url('#{$fonts_dir}arialmt/arialmt-medium-webfont.eot');
    src:         url('#{$fonts_dir}arialmt/arialmt-medium-webfont.eot?#iefix') format('embedded-opentype'),
                 url('#{$fonts_dir}arialmt/arialmt-medium-webfont.woff2') format('woff2'),
                 url('#{$fonts_dir}arialmt/arialmt-medium-webfont.woff') format('woff'),
                 url('#{$fonts_dir}arialmt/arialmt-medium-webfont.ttf') format('truetype'),
                 url('#{$fonts_dir}arialmt/arialmt-medium-webfont.svg#arial_mtmedium') format('svg');
    font-weight: bold;
    font-style:  normal;

}

@font-face {
    font-family: 'ArialLight';
    src:         url('#{$fonts_dir}arialmt/arialmt-mediumitalic-webfont.eot');
    src:         url('#{$fonts_dir}arialmt/arialmt-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
                 url('#{$fonts_dir}arialmt/arialmt-mediumitalic-webfont.woff2') format('woff2'),
                 url('#{$fonts_dir}arialmt/arialmt-mediumitalic-webfont.woff') format('woff'),
                 url('#{$fonts_dir}arialmt/arialmt-mediumitalic-webfont.ttf') format('truetype'),
                 url('#{$fonts_dir}arialmt/arialmt-mediumitalic-webfont.svg#arial_mtmedium_italic') format('svg');
    font-weight: bold;
    font-style:  italic;

}

.kf,
[class^="kf-"],
[class*=" kf-"] {
    display:                inline-block;
    font-feature-settings:  normal;
    font-kerning:           auto;
    font-language-override: normal;
    font-size:              inherit;
    font-size-adjust:       none;
    font-stretch:           normal;
    font-style:             normal;
    font-synthesis:         weight style;
    font-variant:           normal;
    font-weight:            normal;
    line-height:            1;
    text-rendering:         auto;
    transform:              translate(0px, 0px);

    &:before {
        font-family:             $font-family-kentfont;
        display:                 inline-block;
        font-weight:             normal;
        font-style:              normal;
        text-decoration:         inherit;
        vertical-align:          middle;
        line-height:             1;
        text-transform:          none;
        text-rendering:          optimizeLegibility;
        -webkit-font-smoothing:  antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

body .kf.pull-right {
    margin-left: 0; // why is this a thing
}