
//BASE OPTIONS

$enable-flex:               false;
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;


//COLOURS

$brand-primary:         #05345C;
$brand-primary-hover:   #52677f;
$brand-light:           #cad4dc;
$brand-lightest:        #ebeff2;

$brand-tertiary:        #937227;
$brand-tertiary-light:  #ce9716;

$brand-darkgrey: rgba(0, 0, 0, 0.8);

$body-color: #171717;

// TYPOGRAPHY

$font-family-sans-serif:     "ArialLight","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:          "CentrurySchoolbook", Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif !default;

$headings-font-family:        Arial, "Helvetica Neue", Helvetica, sans-serif !default;

// KENT FONT HELPERS

$font-family-kentfont:		"kentfont";

$kf-chevron-down: "\f078";
$kf-chevron-right: "\f054";
$kf-chevron-left: "\f053";
$kf-chevron-up: "\f077";
$kf-angle-down: "\f107";
$kf-angle-left: "\f104";
$kf-angle-right: "\f105";
$kf-angle-up: "\f106";
$kf-menu: "\f0c9";
$kf-close: "\f00d";