// Duplicate pg colours to override brand defaults
$brand-primary: #671115; //$kent-pg-primary
$brand-primary-tint: #E0D4D4; //$kent-pg-primary-tint

$brand-primary-light: #9e4c4c;
$brand-nav-bg :#f7e9ea;
$brand-nav-active: #f1d6d8;