# Allow access from all domains for webfonts.
# Alternatively you could only whitelist your
# subdomains like "subdomain.example.com".
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
