.card-panel {

    padding:       1rem 0.5rem 0.5rem;
    margin-bottom: 1rem;
    overflow:      hidden;

    @include media-breakpoint-up(sm) {
        padding: 1rem;
    }

    &.card-panel-contained {
        @extend .container;
    }

    &.card-panel-inverse {

        color: rgba(255, 255, 255, .75);

        .card-panel-title {
            color: #FFFFFF;
        }

        .card-panel-header {
            a, a:hover, a:focus {
                color: #FFFFFF;
            }
        }
        &.nav-links-panel {
            .nav-link{

                .nav-link-title {
                    display:block;
                    color: #FFFFFF;
                }
                .nav-link-desc {
                    color: rgba(255, 255, 255, .75);
                }
                &:hover, &:active, &:focus {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }

    &.cards-flip {
        .card {
            @extend .card-flip;
        }
    }

    &.cards-list {
        .card-panel-body {
            .card {
                @extend .card-list-item;
            }
        }
   }

    &.cards-backed {
        .card {

            @include media-breakpoint-up(sm) {
                border-width: 0 ($grid-gutter-width/2) 0 ($grid-gutter-width/2);
                border-style: solid;
                border-color: #FFFFFF;
            }

            @extend .card-backed;
        }

        .card-panel-body {

            .card-panel-grid,
            .card-panel-single,
            .card-panel-list {
                padding: 0;
            }

        }
    }

    &.cards-header-split {
        .card {
            @extend .card-header-split;
        }
    }

    &.cards-centered {
        .card {
            @extend .card-centered;
        }
    }

    @each $name, $color in $brand-colors {

        &.card-panel-#{$name} {
            .card-panel-full {

                & > div.expanded {
                    width: calc(100% + #{$grid-gutter-width});
                }
                &:first-child {
                    & > div {
                        &.expanded {
                            margin-top:   -1rem;
                            margin-left:  -1rem;
                            margin-right: -1rem;
                        }
                    }
                }
                &:last-child {
                    & > div {
                        &.expanded {
                            margin-right:  -1rem;
                            margin-left:   -1rem;
                            margin-bottom: -0.5rem;
                        }
                    }
                }

                @include media-breakpoint-up(sm) {
                    &:last-child {
                        & > div {
                            &.expanded {
                                margin-bottom: -1rem;
                            }
                        }
                    }
                }

                @include media-breakpoint-up(md) {
                    & > div.expanded {
                    }
                    &:first-child {
                        & > div {
                            &.expanded {
                                margin-right:  0;
                                margin-top:    -1rem;
                                margin-bottom: -1rem;
                            }
                        }
                    }
                    &:last-child {
                        & > div {
                            &.expanded {
                                margin-left:   0;
                                margin-top:    -1rem;
                                margin-bottom: -1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @each $name, $color in $brand-colors-light {
        &.cards-backed-#{$name} {
            .card {
                @extend .card-backed-#{$name};
            }
        }

        &.card-panel-#{$name} {
            background-color: $color;

            &.cards-backed .card {
                border-color: $color;
            }
        }

    }
    @each $name, $color in $brand-colors-dark {
        &.cards-backed-#{$name} {
            .card {
                @extend .card-backed-#{$name};
            }
        }

        &.card-panel-#{$name} {
            background-color: $color;

            @extend .card-panel-inverse;

            &.cards-backed .card {
                border-color: $color;
            }
        }
    }

    .card-panel-body {
        @extend .container;
        padding: 0;

        @include media-breakpoint-up(sm) {
            display:   flex;
            flex-wrap: wrap;
        }

        & > .card {
            margin-top: 1rem;
            &:nth-child(1), &:nth-child(2) {
                margin-top: 0;
            }
            @include media-breakpoint-up(lg) {
                &:nth-child(3), &:nth-child(4) {
                    margin-top: 0;
                }
            }
        }
        .card {

            @include media-breakpoint-up(sm) {
                @include make-col();
                @include make-col-span(6);
                &:nth-child(odd) {
                    clear: left;
                }
            }

            @include media-breakpoint-up(lg) {
                @include make-col-span(3);
                &:nth-child(odd) {
                    clear: none;
                }
                &:nth-child(4n+1) {
                    clear: left;
                }
            }
        }

        .card-panel-full,
        .card-panel-grid,
        .card-panel-single,
        .card-panel-list {

            overflow:      hidden;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
            @include media-breakpoint-up(md) {
                @include make-col();
                @include make-col-span(6);
                margin-bottom: 0;
            }
        }

        .card-panel-full {
            overflow: visible;
            padding:  0;
            display:  flex;
            width:    100%;
            position: relative;

            & > div {
                background-position: center center;
                background-size:     cover;
                width:               100%;
            }

            &.fixed {
                & > div {
                    padding-top: 100%;
                }
            }

            & > div.card {
                padding:       0;
                margin-bottom: 0;
                & > * {
                    margin-bottom: 0;
                }
            }
            @include media-breakpoint-up(md) {
                @include make-col-span(6);
                margin-bottom: 0;
                & > div {
                    width: calc(100% + #{$grid-gutter-width/2});
                }

                &:first-child {
                    & > div {
                        margin-right: ($grid-gutter-width/2);
                    }
                }
                &:last-child {
                    & > div {
                        margin-left: ($grid-gutter-width/2);
                    }
                }

            }
        }

        .card-panel-single {
            .card {
                .card-title {
                    font-size: $font-size-h3;
                }
                @include media-breakpoint-up(sm) {
                    padding: 0;
                    width:   100%;
                }
                @include media-breakpoint-up(lg) {
                    padding: 0;
                    width:   100%;
                }
                &.card-backed {
                    padding: 0 1rem;
                }
            }
        }
        .card-panel-grid {
            padding: 0;
            .card {
                @include make-col();
                @include make-col-span(6);
                &:nth-child(odd) {
                    clear: left;
                }
            }
        }
        .card-panel-list {
            .card {
                @extend .card-list-item;

                @include media-breakpoint-up(sm) {
                   padding: 0;
                }
                @include media-breakpoint-up(lg) {
                   padding: 0;
                }
            }
        }
    }

    .card-panel-header {
        @extend .container;
        @extend .form-inline;

        margin-bottom: 1rem;
        margin-top:    -1rem;

        & > * {
            margin-top:    1rem;
            margin-bottom: 0rem;
        }

        .card-panel-title {
            font-size:      $font-size-h2;
            display:        block;
            margin:         1rem 1rem 0 0;

            vertical-align: middle;

            @include media-breakpoint-up(md) {
                display: inline-block;
            }
        }

        .card-panel-filter {

            display:        inline-block;

            margin-bottom:  0;
            vertical-align: middle;
            margin-right:   1rem;

            input, select, button {
                min-width: 6rem;
                max-width: 14rem;
            }
            select {
                @extend .form-control;
                @extend .c-select;
            }
            input {
                @extend .form-control;
            }
        }

        nav {
            display:        inline-block;
            vertical-align: middle;
            @extend .form-control-static;

            a {
                margin-left: 1rem;
            }

            &.content-social {
                a {
                    margin-left: .4rem;
                }
            }

        }

    }

    a.card, .card a {
        &, &:hover, &:focus {
            .card-text {
                color: $body-color;
            }
        }
    }
    a.card.card-inverse, .card.card-inverse a {
        &, &:hover, &:focus {
            .card-text {
                color: rgba(255, 255, 255, .75);
            }
        }
    }

}

.card-panel-flush {

    @extend .card-panel;

    display:   flex;
    flex-wrap: wrap;

    padding:   0;
    @include media-breakpoint-up(md) {
        padding: 0;
    }

    .card {
        border: none;
        margin: 0;

        .card-img:first-child {
            margin-bottom: 0;
        }

    }
    &.cards-backed {
        .card {
            @include media-breakpoint-up(sm) {
                border: none;
            }
        }
    }
}

.card-panel-profiles {

    display: block;

    .kent-slider .card {
        @include media-breakpoint-up(lg) {
            &:first-child {
                margin-left: 50%;
            }
        }
    }

    .card {
        float: left;
        width: 100%;

        .card-img {
            max-width: none;
            width:     100%;
        }
        .card-title {
            font-family: $font-family-serif;
            font-size:   1.5rem;
            @include media-breakpoint-up(sm) {
                font-size: 1.3rem;
            }
            @include media-breakpoint-up(md) {
                font-size: 1.5rem;
            }
        }

        .card-subtitle {
            font-family: $font-family-sans-serif;
            font-size:   1rem;
        }

        .back {

            padding:   1.5rem;
            font-size: 1rem;

            @include media-breakpoint-up(xxl) {
                padding:   3rem;
                font-size: 1.2rem;
            }

            a {
                font-family: $headings-font-family;
                @extend .chevron-link;
                color:       $brand-accent-light;
            }

        }

        @include media-breakpoint-up(sm) {
            @include make-col-span(6);
        }
        @include media-breakpoint-up(lg) {
            @include make-col-span(3);
        }
    }
    &.card-panel-flush .card-double,
    .card-double {
        padding: 3rem;
        @include make-col-span(12);

        .card-title {
            font-family:    $font-family-serif;
            text-transform: uppercase;
            font-size:      2rem;
        }

        .card-subtitle {
            font-family: $font-family-serif;
            color:       $body-color;
            font-size:   1.2rem;
            @include media-breakpoint-up(xl) {
                max-width: 80%;
            }
            @include media-breakpoint-up(xxl) {
                max-width: 66%;
            }
        }

        @include media-breakpoint-up(lg) {
            @include make-col-span(6);
            padding:  3rem;
            position: absolute;
        }
    }
    .card-double.card-linked {
        &:after {
            position:    absolute;
            top:         50%;
            top:         calc(50% - 1rem);
            right:       1rem;
            font-size:   2rem;
            line-height: 2rem;
            line-height: calc(2rem); // IE11 workaround
            content:     $kf-angle-right;
            font-family: $font-family-kentfont;
            color:       $brand-primary;
        }
    }

    .kent-slider {
        clear: both;
        @include media-breakpoint-up(lg) {
            clear: none;
        }
    }
}
