.card.card-overlay {

	.card-img-bottom {
		width: 100%;
	}
	
	// For some reason the overlay ignores padding bottom,
	// so am adding a rem here to compensate.
	margin-top: $card-overlay-amount + 1rem;

	padding-bottom: 1rem;
	.card-title-wrap{
		padding: 2rem;
		background-color: $brand-primary;
		color: #FFF;
		transition: background-color 300ms;

		&.pull-right{
			float: none;
		}

		&.card-title-wrap-link {
			display: block;
			color: #FFF;
			padding-right: 3rem;
			cursor: pointer;
			position: relative;

			&:hover {
				text-decoration: none;
				background-color: lighten($brand-primary,5%);
			}

			&:after {
				position: absolute;
				top: 50%;
				top: calc(50% - 1rem);
				right: 1rem;
				font-size: 2rem;
				line-height: 2rem;
				line-height: calc(2rem); // IE11 workaround

				content: $kf-angle-right;
				font-family: $font-family-kentfont;
			}
		}

		.card-title{
			font-family: $font-family-serif;
			font-weight: normal;
			text-transform: uppercase;
			color: $brand-accent-light;
			font-size: 2rem;
			line-height: 2.3rem;
			@include media-breakpoint-up(md){
				font-size: 2.2rem;
			}

		}

		.card-text {
			font-family: $font-family-serif;
			color: #FFF;
		}

	}

	.card-title, .card-subtitle {
		font-family: $font-family-serif;
	}

	.card-img-overlay {
		text-decoration:none;

		.card-subtitle {
			font-size: 1.8rem;
			font-weight: normal;

			@include media-breakpoint-up(lg){
				font-size: 2.4rem;
			}
			@include media-breakpoint-up(xl){
				font-size: 2.8rem;
			}
		}
		.card-text {

			@include media-breakpoint-up(md){
				font-size: 1.3rem;
			}
			@include media-breakpoint-up(lg){
				font-size: 1.5rem;
			}
		}

		&.card-img-overlay-block {
			position: relative;
		}

	}

	.card-inverse {
		.card-img-overlay {
			text-shadow: 0 2px 2px rgba(0,0,0,.9);
			.card-text {
				color: #FFF;
			}
			.card-subtitle {
				color: #FFF;
			}
		}
	}

	.card-media-wrap{

		@extend .media-wrap-letterbox;

		margin-bottom: 0;

		& > .card-img,
		& > .card-img-bottom,
		& > .card-img-top{
			@include media-letterboxed-img();
		}

	}

	.card-footer{
		padding: 0;

		.chevron-link{
			display: block;
			padding: 0.75rem 1rem;
			background: $brand-secondary;
			border-bottom: 1px solid #ccc;
			&:after{
				position: absolute;
				right: 1rem;
			}

			@include media-breakpoint-up(md){
				display: table-cell;
				text-align: center;
				float: none;
				width: 1%;
				vertical-align: top;
				padding: 0;
				background: none;
				border: none;
				&:after{
					position: relative;
					right: auto;
				}
			}
		}

		@include media-breakpoint-up(md){
			padding: 0.75rem 1.25rem;
			display: table;
			table-layout: fixed;
		}

	}




	@include media-breakpoint-up(md){
		.card-title-wrap {
			position: absolute;
			width: 40%;
			left: 5%;
			top: -($card-overlay-amount);
			z-index: 1;

			&.card-title-wrap-link {
				position: absolute;
			}

			&.pull-right{
				left: inherit;
				right: 5%;
			}
		}

		.card-img-overlay {
			&.card-img-overlay-block {
				position: absolute;
			}
			.input-group {
				margin-left: 15%;
				margin-right: 15%;
			}
		}
	}

}

@include media-breakpoint-down(xs) {
	.container {
		& > .card.card-overlay {
			margin-right: -($grid-gutter-width/2);
			margin-left: -($grid-gutter-width/2);
		}
	}
}