.card.header-card-overlay {
	margin-top: -2rem;
	@include media-breakpoint-up(md) {
		margin-top: -4rem;

		.card-title-wrap {
			width: 45%;
			bottom: 0;
			top:auto;
			left:0;
			&.pull-right{
				left: inherit;
				right:0;
			}
		}

	}
}