.card.card-overlay.header-card-overlay {

	& + .breadcrumb,
	& + .container,
	& + .content-header,
	& + .content-container{
		margin-top: 1rem;
	}

	.card-title-wrap {
		background: #333333;
		padding:    2rem;

        .chevron-link{
            &:after{
                color: #FFF;
            }
        }

		&.card-title-wrap{
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
			.card-title {
				text-transform: none;
				color:          #FFFFFF;
			}
			.card-text {
				font-family: $font-family-sans-serif;
				color:       #FFFFFF;
			}

			@include media-breakpoint-up(xxl) {

				.card-title {
					font-size: 3rem;
                    line-height: 3rem;
				}

				.card-text {
					font-size: 1.5rem;
				}
			}
		}

		&.card-title-wrap-link{
			&:after {
				content: none;
			}
			&:hover {
				text-decoration:  none;
				background-color: lighten(#333333, 5%);
			}

		}

	}

    .card-img-overlay-bottom,
    .card-img-overlay-bottom-shaded{
        .chevron-link{
            &:after{
              color: #FFF;
            }
        }
        .card-subtitle {
            font-family:    $font-family-serif;
            font-weight:    normal;
            text-transform: none;
            color:          #FFF;
            font-size:      2rem;
            line-height:    2.2rem;
            margin-top: 0;
            margin-bottom: .75rem;

            @include media-breakpoint-up(md) {
                padding: 2rem 2rem 0;
                font-size: 2.2rem;
            }
        }
        .card-text {
            font-size: .9rem;
            font-family: $font-family-sans-serif;
            color:       #FFFFFF;
            @include media-breakpoint-up(md) {
                padding: 0 2rem 2rem;
            }
        }

        @include media-breakpoint-up(xxl){
            .card-subtitle {
                font-size: 3rem;
                line-height: 3rem;
            }

            .card-text {
                font-size: 1.5rem;
            }
        }

    }


	.relative {
		position: relative;
	}

	.card-title-overlap {

		@extend .container;
		position: relative;
		padding: 1rem ($grid-gutter-width-base/2);
		z-index: 1;

        h1:last-child{
            margin-bottom: 1.5rem;
        }

		.card-subtitle {
			color: $brand-accent;
			font-family: $font-family-base;
			margin-top: 1rem;
		}

		@include media-breakpoint-up(md) {
			padding: 2rem ($grid-gutter-width-base/2);
		}

		@include media-breakpoint-up(lg) {
			padding: 2rem;
			width: calc(#{map_get($container-max-widths,lg)} + 2rem);
			max-width: calc(#{map_get($container-max-widths,lg)} + 2rem);


			position: absolute;
			bottom: 0;
			background-color: rgba(255, 255, 255, 0.85);
			left: 0;
			right: 0;

		}

		@include media-breakpoint-up(xl) {
			
			
			padding: 1rem 2rem 0.5rem 2rem;
			width: calc(#{map_get($container-max-widths,xl)} + 2rem);
			max-width: calc(#{map_get($container-max-widths,xl)} + 2rem);
		}

	}

	.form-group{
		margin-bottom: 0;
	}

	@include media-breakpoint-up(md) {

		margin-top: -7rem;

		.card-title-wrap {
			width:      100%;
			bottom:     0;
			top:        auto;
			left:       0;
			padding:    3rem 2rem 2rem;

			background: $scrim-gradient; // was 0.8

			&.card-title-wrap-link {
				padding: 3rem 2rem 2rem;
				&:hover {
					background: $scrim-gradient;
				}
			}

		   &.force-block.force-block {
				width: 45%;
				.card-title {
					font-size:1.6rem;
					line-height:2rem;
					margin-top:0;
				}
				.card-text {
					font-size: 1.2rem;
					margin-bottom:0px;
				}
		   }
		}

		.form-group{
			margin-bottom: 1rem;
		}
	}

	@include media-breakpoint-up(lg) {
		.card-title-wrap.force-block.force-block {
			width: 40%;
			.card-title {
				font-size:2.3rem;
				line-height: 2.3rem;
			}
		}
	}
	.overlap-content-container {
		margin-left:0;
		margin-right:0;
		padding-bottom:0;

		@include media-breakpoint-up(sm) {
			max-width:     none;
			padding-left:  5%;
			padding-right: 5%;
		}
		@include media-breakpoint-up(md) {
			max-width:     none;
			padding-left:  12%;
			padding-right: 12%;
		}
		@include media-breakpoint-up(lg) {
			max-width:     none;
			margin-left:  calc(5% - #{$grid-gutter-width-base/2});
			width: calc(90% + #{$grid-gutter-width-base/2});

			padding:      1rem 2rem 0.5rem 2rem;
		}
		@include media-breakpoint-up(xl) {
			margin-left:  calc(7% - 1rem);
			width: calc(93% - 7% + #{$grid-gutter-width-base/2});

		}
		@media (min-width: $article-max-breakpoint) {

			margin:    0 auto;
			width: calc(#{$content-container-max-width} + 2rem);
			max-width: calc(#{$content-container-max-width} + 2rem);
		}
	}

	.card-footer {
		padding: 0 .5rem;
		display: block;

		.caption{
			text-align: right;
		}

		margin-bottom: -1.5rem;
	}

	.header-card-overlap-search {

		.form-group {
		  position: relative;
		}
	}
	@include media-breakpoint-up(md) {
		.header-card-overlap-search {
		  position: absolute;
		  top: 6rem;
		}
	}
}


.slim-header{
    .card.header-card-overlay {
        @include media-breakpoint-up(md) {
            margin-top: -5.3rem;
        }
    }
}

.show-departmental-menu {
	@include media-breakpoint-up(md) {
		.card.header-card-overlay {
			margin-top: -8rem;
		}
		&.slim-header {
			.card.header-card-overlay {
				margin-top: calc( -8rem - #{1px});
			}
		}
	}
}

.global-header-transparent .header-card-overlay {


    &::after {
        position:   absolute;
        top:        0;
        left:       0;
        right:      0;
        bottom:     0;
        content:    "";
        background: linear-gradient(rgba(0, 0, 0, 0.7) 1rem, transparent 7.5rem);
        pointer-events: none;
    }

	@include media-breakpoint-up(md) {
		margin-top: -7rem;
	}
}




.spaced-links-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 1rem (-$grid-gutter-width-base/2);
	@include media-breakpoint-up(sm)
	{
		margin: 1rem 0;
	}
}

.spaced-links-inner-container{

	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	flex-grow: 1;

	@include media-breakpoint-up(sm)
	{
		flex-wrap: nowrap;
	}

	@include media-breakpoint-up(md)
	{
		width: auto;
	}

	.spaced-links-item {

		width: 100%;
		display:       block;
		padding:       0.75rem 1rem;
		background:    $brand-secondary;
		border-bottom: 1px solid #CCCCCC;

		i{
		   vertical-align: top;
		}

		&:after {
			font-family: $font-family-kentfont;
			content: $kf-angle-right;
			position: absolute;
			right:    1rem;
		}

		@include media-breakpoint-up(sm)
		{
			text-align: center;
			padding: 0.475rem 1rem;
			background: none;
			border: none;
			&:after{
				display: none;
			}
		}
	}

	.spaced-links-item-btn {
		width: 100%;
		@include media-breakpoint-up(lg) {
			margin-right:1rem;
			&:last-child{
				margin-right: 0;
			}
		}

	}
}