.card.header-card-overlay {

    & + .breadcrumb,
    & + .container,
    & + .content-header,
    & + .content-container{
        margin-top: 1rem;
    }

    .card-title-wrap {
        background: #333333;
        padding:    2rem;

        &.card-title-wrap{
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
            .card-title {
                text-transform: none;
                color:          #FFFFFF;
            }
            .card-text {
                font-family: $font-family-sans-serif;
                color:       #FFFFFF;
            }

            @include media-breakpoint-up(xxl) {

                .card-title {
                    font-size: 3rem;
                }

                .card-text {
                    font-size: 1.5rem;
                }
            }
        }

        &.card-title-wrap-link{
            &:after {
                content: none;
            }
            &:hover {
                text-decoration:  none;
                background-color: lighten(#333333, 5%);
            }

        }

    }

    .relative{
        position: relative;
    }

    .card-title-overlap {
        position: relative;
        margin: 0 15px;
        padding: 2rem;

        .card-subtitle {
            color: $brand-accent;
            font-family: $font-family-base;
            margin-top: 1rem;
        }

    }

    .form-group{
        margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {

        margin-top: -7rem;

        .card-title-wrap {
            width:      100%;
            bottom:     0;
            top:        auto;
            left:       0;
            padding:    3rem 2rem 2rem;
            background: rgba(0, 0, 0, 0.75);
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
            &.card-title-wrap-link {
                padding: 3rem 2rem 2rem;
                &:hover {
                    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
                }
            }
        }

        .card-title-overlap {
            position: absolute;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.85);
            left: 0;
            right: 0;
            padding: 1rem 2rem 0.5rem 2rem
        }

        .form-group{
            margin-bottom: 1rem;
        }

    }

    .overlap-container{
        @each $breakpoint, $container-max-width in $container-max-widths
        {
            @include media-breakpoint-up($breakpoint) {
                max-width: calc(#{$container-max-width} + 1rem);
            }
        }
        margin: auto;
    }

    .card-footer {
        padding: 0 .5rem;
        display: block;

        .caption{
            text-align: right;
        }

        margin-bottom: -1.5rem;
    }
    @include media-breakpoint-up(md) {
        .card-media-wrap{
            .header-card-overlap-search {
                top: 0;
                margin-top:6rem;
            }
        }
    }
}


.show-departmental-menu {


        @include media-breakpoint-up(md) {
            .card.header-card-overlay {
                margin-top: -8rem;
            }
            &.slim-header {
                .card.header-card-overlay {
                    margin-top: calc(-8rem + #{1px});
                }
            }
        }

}

.global-header-transparent .header-card-overlay {

    .card-media-wrap, .media-wrap-paralax {
        &::after {
            position:   absolute;
            top:        0;
            left:       0;
            right:      0;
            bottom:     0;
            content:    "";
            background: linear-gradient(rgba(0, 0, 0, 0.7) 1rem, transparent 7.5rem);
        }
    }

    @include media-breakpoint-up(md) {
        margin-top: -7rem;
    }
}

.slim-header{
    .card.header-card-overlay {
        @include media-breakpoint-up(md) {
            margin-top: -5.4rem;
        }
    }
}


.spaced-links-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.spaced-links-inner-container{
    display:flex;
    justify-content: space-around;
    flex-grow:1;

    @include media-breakpoint-down(sm)
    {
        flex-wrap: wrap;
    }

    @include media-breakpoint-down(md)
    {
        width: 100%;
    }

   .spaced-links-item {
        padding: 0.475rem 1rem;

        @include media-breakpoint-down(md)
        {
            width: 100%;
            display:       block;
            padding:       0.75rem 1rem;
            background:    $brand-secondary;
            border-bottom: 1px solid #CCCCCC;
            &:after {
                position: absolute;
                right:    1rem;
            }
        }
    }

    .spaced-links-item-btn {
        width: 45%;

        @include media-breakpoint-down(md) {
            width: 100%;
        }

    }
}

.spaced-links {
    display:       block;
    padding:       0.75rem 1rem;
    background:    $brand-secondary;
    border-bottom: 1px solid #CCCCCC;
    &:after {
        position: absolute;
        right:    1rem;
    }

    @include media-breakpoint-up(md) {

        text-align:     center;
        float:          none;
        width:          19%;
        vertical-align: top;
        padding:        0;
        background:     none;
        border:         none;
        &:after {
            position: relative;
            right:    auto;
        }
    }
}