<div class="modal fade modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel{{id}}" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-content-transparent">

			<div class="modal-header">
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="kf-close"></i></span>
					<span class="sr-only">Close</span>
				</button>
			</div>

			<div class="video-container">
				
			</div>
			{{#if transcript}}
			<span class="video-transcript"><small><a href="{{transcript}}">Download transcript</a></small></span>
			{{/if}}
			
		</div>
	</div>
</div>