<div class="modal fade modal-fullscreen" id="videoModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel{{id}}" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-content-transparent">

			<div class="modal-header">
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="kf-close"></i></span>
					<span class="sr-only">Close</span>
				</button>
			</div>

			<div class="embed-responsive embed-responsive-16by9 ">
				<video controls class="embed-responsive-item">
					<source src="{{src}}" >
				</video>
				{{#if transcript}}
				<div class="embed-responsive-item-overlay">
					<span class="video-transcript"><small><a href="{{transcript}}">Download transcript</a></small></span>
				</div>
				{{/if}}
			</div>
			
		</div>
	</div>
</div>