.byline{
	margin: 1.5rem 0;
	overflow: hidden;
	position: relative;
	@include media-breakpoint-up(sm) {
		display:     flex;
		align-items: center;
	}
	img {
		@extend .img-responsive;
		@extend .img-circle;
		height: 3rem;
		float: left;
		margin-right:.5rem;
	}
	address{
		margin-bottom: 0;
		@include media-breakpoint-up(sm){
			padding-right: .5rem;
			border-right: 1px solid #ccc;
			margin-right: .5rem;
		}
	}
}

.content-tags{
	overflow: hidden;
	clear:both;

	.content-tag{
		float:left;
		display: inline-block;
		margin: 0 0.5rem 0.5rem 0;
		&:last-child{
			margin-right: 0;
		}
	}
}