blockquote, .blockquote {

	border: none;
	overflow:    hidden;
	padding:     1rem 0;
	margin-bottom: 1rem;
	font-size: $font-size-base * 1.25;

	@include media-breakpoint-up(sm) {
		padding: 1rem 2rem;
	}
	@include media-breakpoint-up(lg) {
		padding:0 2rem;
	}
	& > p {
		padding:1rem 0;
		padding-bottom:0;
		font-family: $font-family-serif;
		font-size: 1.3rem;
		font-style: italic;
		color:$brand-primary;

		@include media-breakpoint-up(md) {
			padding:1rem;
		}
		@include media-breakpoint-up(lg) {
			font-size: 1.3rem;
		}
	}
	& > p:first-of-type{
		&:before {
			font-size:1.3em;
			content: '\201C';
			line-height:1rem;
		}
	}
	& > p:last-of-type{
		&:after {
			font-size:1.3em;
			content: '\201D';
			line-height:1rem;
		}
	}

	& > img {
		height: 10rem;
		margin: 0 auto;
		display: block;

		@include media-breakpoint-up(md) {
			float:left;
			margin-right:1rem;
			margin-top:1rem;
			margin-bottom:1.5rem;
		}
	}
	footer {
		display: inline-block;
		font-size: 0.9rem;

		&:before{
			display:none;
		}

		cite {
			font-weight: bold;
			color: $body-color;
			font-style: normal;

			span {
				font-weight: normal;
			}
		}

		@include media-breakpoint-up(md) {
			font-size: 1rem;

			cite span {
				display:block;
			}
		}
	}


	
}

main > blockquote{
	@extend .container;

	padding:     2rem 2rem 0 2rem;

	@include media-breakpoint-up(sm) {
		padding:0 2rem;
	}
	@include media-breakpoint-up(lg) {
		padding:0 2rem;
	}

	& > img {

		@include media-breakpoint-up(md) {
			height: 12rem;
			margin-right:2rem;
			margin-top:1rem;
			margin-bottom:2.5rem;
		}
	}

	& > p {

		font-size: 1.5rem;

		@include media-breakpoint-up(lg) {
			font-size: 1.9rem;
		}
	}

	@include media-breakpoint-up(lg) {
		padding: 3rem 5rem 5rem;
	}
}

blockquote.social-quote{


	overflow:    hidden;
	padding:     1rem 0;
	margin-bottom: 1rem;
	font-size: $font-size-base * 1.5;
	text-align: center;

	@include media-breakpoint-up(sm) {
		padding: 1rem 2rem;
	}
	@include media-breakpoint-up(lg) {
		padding:2rem;
	}

	& > a {
		p {
			padding:        1rem 0;
			padding-bottom: 0;
			font-family:    $font-family-serif;
			font-style:     italic;
			color:          $brand-primary;
			margin-bottom: 0;

			&:before {
				font-size:   1.3em;
				content:     '\201C';
				line-height: 1rem;
			}

			&:after {
				font-size:   1.3em;
				content:     '\201D';
				line-height: 1rem;
			}
		}
	}

	button{
		@extend .btn;
		@include icon-circle();
	}

	cite{
		font-size: 1rem;
		font-style: normal;
	}
	@each $network, $color in $social-networks {
		&.social-quote-#{$network} {
			button {
				@include button-outline-variant($color);
				&:before {
					content: map_get($kf-characters, $network);
				}
			}
		}
	}

}

main > blockquote.social-quote{

	padding:  2rem 1rem;

	@include media-breakpoint-up(sm) {
		padding: 2rem;
	}

	@include media-breakpoint-up(md) {
		padding: 2rem 4rem;
	}

	@include media-breakpoint-up(lg) {
		padding: 3rem 10rem;
	}

}

blockquote.pull-quote{
	border: 1px solid $brand-primary;
	border-width: 1px 0;
	padding: 0 2rem;
	> p {
		color: $brand-primary;
		
		&:last-of-type {
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}

	&.pull-quote-accent {
		border-color: $brand-accent;
		> p {
			color: $brand-accent;
		}

	}
}