.chevron-link{
  font-family: $headings-font-family;

  &:after{
    display: inline-block;
    padding-left: 0.5rem;
    content:$kf-angle-right;
    font-family: "kentfont",sans-serif;
  }
}

.btn-gray-outline {
	@extend .btn;
   	@include button-outline-variant($gray-light);
   	background-color:#fff;

   	font-size: 1.4rem;
    line-height: 1rem;
    padding: .5rem;
}
