$card-overlay-amount: 1.6rem;
.card {
	.card-img {
		width: 100%;
	}
	&.card-overlay {
		margin-top: $card-overlay-amount;
		.card-block {
			background-color: $brand-primary;
			color: #FFF;
			padding-right: 2rem;
			.card-title {
				text-transform: uppercase;
				color: $brand-tertiary-light;
			}
		}
		@include media-breakpoint-up(md){
			.card-block {
				position: absolute;
				width: 35%;
				left: 5%;
				top: -($card-overlay-amount);
			}
		}
	}
}