.embed-responsive {
    .embed-responsive-item-overlay {
        position: absolute;
        bottom:   0;
        left:     0;
        right:    0;
        padding:  1rem;
        a {
            color: #FFFFFF;
        }
        .video-transcript {
            float: right;
            @include media-breakpoint-down(lg) {
                padding-bottom: 1.5rem;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        height: 66vh;
    }

    @include media-breakpoint-down(lg) {
        padding-bottom: percentage(9 / 16);
    }

    video {
        object-fit: cover;
    }

}

.click-to-interact {
    iframe {
        pointer-events: none;
    }
}