.event-meta {
	display: block;
	width: 5rem;
	min-width:5rem;
	height: 5rem;
	text-align:center;
	font-family: $font-family-serif;
	background: $brand-primary;
	color: #fff;
	padding-top:.5rem;
	margin-right:1rem;

	span {
		display: block;
		font-size: 2rem;
		line-height: 2.2rem;
	}

	&.event-meta-multi {
		line-height: 1.3rem;
	}
}

.event-header {
	display:flex;
	align-items: center;
	flex-direction: row;
	align-content: flex-start;
	margin-bottom: 2rem;

	h1 {
		margin:0;
	}
}