input[placeholder] {
    text-overflow: ellipsis;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

select {
    border-radius: 0;
}

// Form validation states
.has-success {
    .c-select{
       border-color: $brand-success;
    }
}

.has-warning {
    .c-select{
        border-color: $brand-warning;
    }
}

.has-danger {
    .c-select{
        border-color: $brand-danger;
    }
}