input[placeholder] {
    text-overflow: ellipsis;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

select {
    border-radius: 0;
}

// Form validation states
.has-success {
    .c-select{
       border-color: $brand-success;
    }
}

.has-warning {
    .c-select{
        border-color: $brand-warning;
    }
}

.has-danger {
    .c-select{
        border-color: $brand-danger;
    }
}

.validation-error{
    display:none;
}

.has-error{
    .validation-error{
        display: block;
        clear:both;
        color: $brand-danger;
        padding: 0.25rem 0;
    }
}

.validation-group + .validation-error{
    margin-top: -.75rem;
}
