.kent-bar {
	background-color: $brand-primary;
	color: #fff;
	padding: 0;
	
	a.navbar-brand {
		font-size: 1.2rem;
		padding: .8rem  .4rem;
		color: #fff;
		display:block;
	}

	button {
		padding: .8rem;
		background-color: lighten($brand-primary, 3%);

    	border: none;
    	font-size:1.2rem;
	}
	button.menu-button {
		background-color: lighten($brand-primary, 6%);
	}

	nav a {
		color: #fff;
	}
}


.departmental-nav {
	header {
		background-color: $brand-primary;
		color: #fff;
		padding: .5rem;
		border-top: 1px solid lighten($brand-primary, 6%);
	}
	.navbar-toggler {
		background-color: $brand-darkgrey;
		color:#fff;
		cursor:pointer;
	}
}
