@mixin media-img(){
	width: 100%;
	display: block;
	max-width: 100%;
	height: auto;
	@include media-breakpoint-up(lg) {
		margin-top: -3rem;
		@include media-breakpoint-up(xl) {
			margin-top: -6rem;
		}
		@include media-breakpoint-up(xxl) {
			margin-top: -14rem;
		}
		@include media-breakpoint-up(xxxl) {
			margin-top: -20rem;
		}
	}
}

.media-wrap{
	position: relative;
	clear: both;

	@include media-breakpoint-up(md){
		min-height: 22rem;
	}

	@include media-breakpoint-up(lg){
		max-height: 33rem;
		overflow: hidden;
	}

	& > img{
		@include media-img();
	}

}

figure{
	position: relative;

	.attribution {
		background-color: rgba(0,0,0,0.6);
		color: #fff;
		position: absolute;
		display: inline-block;
		font-size: 0.75rem;
		padding: 0.3rem 0.75rem;
		height: 2rem;
		cursor: pointer;
		bottom: 0;
		right:0;
		line-height: 1.5rem;
		max-width: 2.5rem;


		i {
			font-size: 1rem;
			line-height: 1rem;
			margin-right: 1rem;
		}

		span {
			transition: all 300ms;
			display: block;
			float:right;
			max-width: 0;
			overflow: hidden;
			box-sizing: border-box;

			a {
				color:#fff;
				&:hover{
					text-decoration: underline;
				}
			}
		}

		&.in {
			max-width: 3000px;
			span {
				max-width:3000px;
			}
		}

		&.figure-right{

			img{
				width: 100%;
			}
			@include media-breakpoint-up(lg){
				max-width: 33.333333%;
			}

		}
	}

	figcaption{
		color: $text-muted;
		font-size: 0.9rem;
		padding: 0.25rem 0 0 0.5rem;
	}
}

.container, .content-container, .content-container-full{
	& > figure{
		figcaption{
			padding-left: 0;
		}
	}
}