@mixin media-letterboxed-img() {
    width:     100%;
    display:   block;
    max-width: 100%;
    height:    auto;
    position: relative;

    @include media-breakpoint-up(md) {
        position: absolute;

        top:-33.3333333%;
        &.card-img-top{
            top:0;
        }
        &.card-img-bottom{
            bottom: 0;
            top:auto;
        }
    }
}

.media-wrap {

    position: relative;

    & > img {
        width:  100%;
        height: auto;
    }

}

.media-wrap-fill{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    & > img{
        height: 100%;
        width: auto;
        margin: 0 auto;
    }
}

.video-launcher {
    cursor: pointer;

    &:after {
        content:                    $kf-play-circle;
        font-family:                $font-family-kentfont;
        position:                   absolute;
        left:                       50%;
        left:                       calc(50% - 2.25rem);
        top:                        50%;
        top:                        calc(50% - 2.25rem);
        font-size:                  4.5rem;
        line-height:                4.5rem;
        line-height:                calc(4.5rem); // IE11 workaround
        width:                      4.5rem;
        height:                     4.5rem;
        text-align:                 center;
        color:                      #FFF;
        transition:                 all 300ms;
        transition-timing-function: linear;
        transform-origin:           50% 50%;
        pointer-events:             none;
        text-shadow:                0 0 20px #333;
        opacity: 0.7;
        @include media-breakpoint-up(sm) {
            left:        calc(50% - 3.5rem);
            top:         calc(50% - 3.5rem);
            font-size:   7rem;
            line-height: 7rem;
            line-height: calc(7rem); // IE11 workaround
            width:       7rem;
            height:      7rem;
        }
    }

    &:hover {
        &:after {
            opacity: 1;
            transform: scale(1.1, 1.1);
        }
    }

}

.media-wrap-letterbox {
    position: relative;
    clear:    both;
    overflow: hidden;

    max-height: none;

    @include media-breakpoint-up(md) {
        &:before{
            padding-top: 40%;
            /* 2.5:1 ratio */
            display: block;
            content: '';
        }
    }

    & > img,
    & > .card-img,
    & > .card-img-bottom,
    & > .card-img-top
    & > .video-player{
        @include media-letterboxed-img();
    }

}

.media-wrap-parallax {
    @extend .media-wrap-letterbox;

	& > img {
		margin: 0 !important; // This should never not be the case!

		@include media-breakpoint-up(sm) {
			position: absolute;
		}
	}
}

figure {
    position:   relative;
    clear:      both;
    overflow:   hidden;
    margin-top: 2rem;

    img{
        @extend .img-fluid;
    }

    &.figure-left,
    &.figure-pull-left,
    &.figure-right,
    &.figure-pull-right,
    &.figure-center {
        display: block;
        margin: auto;
        text-align: center;
        img{
            display: inline-block;
        }
    }
    @include media-breakpoint-up(sm) {

        &.figure-left,
        &.figure-pull-left,
        &.figure-right,
        &.figure-pull-right{
            text-align: left;
            img{
                display: inline;
            }
        }

        &.figure-left,
        &.figure-pull-left {

            @include media-breakpoint-up(sm) {
                max-width:     50%;
                float:         left;
                margin-right:  2rem;
                margin-bottom: 2rem;
            }

            &.figure-pull-left {
                @include media-breakpoint-up(xl) {
                    margin-left: -20%;
                }
            }
        }

        &.figure-right,
        &.figure-pull-right {

            @include media-breakpoint-up(sm) {
                max-width:     50%;
                float:         right;
                margin-left:   2rem;
                margin-bottom: 2rem;
            }

            &.figure-pull-right {
                @include media-breakpoint-up(lg) {
                    margin-right: -20%;
                }
            }
        }
    }
}

figure figcaption,
.caption{
    color:     $text-muted;
    font-size: 0.9rem;
    padding:   0.25rem 0 0 0.5rem;
    margin: 0;
}

.container, .content-container {
    figure {
        clear:      none;
        overflow:   visible;
        margin-top: 0;
        figcaption {
            padding-left: 0;
        }
        &.figure-left,
        &.figure-pull-left{
            clear:left;
        }

        &.figure-right,
        &.figure-pull-right{
            clear:right;
        }
    }
}

.content-container .content-main{

    figure.full-width{

        overflow: visible;

        .media-wrap-letterbox,
        figcaption{
            position: relative;
            width:    100vw;
            left:-($grid-gutter-width-base/2);

            @include media-breakpoint-up(sm){
                left: -5.6%;
            }

            @include media-breakpoint-up(md){
                left: calc( -11.5% - #{$grid-gutter-width-base});
            }
            @include media-breakpoint-up(lg){
                left: calc( -6% - #{$grid-gutter-width-base});
            }

            @include media-breakpoint-up(xl){
                left: calc( -8% - #{4.75rem} );
            }

            @media (min-width: $article-max-breakpoint) {
                left: calc( -50vw + #{552px})
            }
        }

        figcaption{
            padding: 0.25rem 0 0 1rem;
        }

    }

    &.content-main-centered{
        figure.full-width{
            .media-wrap-letterbox,
            figcaption{

                @include media-breakpoint-up(lg){
                    left: calc( -27.5% - #{$grid-gutter-width-base});
                }

                @include media-breakpoint-up(xl){
                    left: calc( -20.5% - #{4.75rem} );
                }

                @media (min-width: $article-max-breakpoint) {
                    left: calc( -50vw + #{345px})
                }
            }
        }
    }

}

.attribution {
    background-color: rgba(0, 0, 0, 0.6);
    color:            #FFFFFF;
    position:         absolute;
    display:          inline-block;
    font-size:        0.75rem;
    padding:          0.3rem 0.75rem;
    max-height:       2rem;
    cursor:           pointer;
    bottom:           0;
    right:            0;
    line-height:      1.5rem;
    min-width:        2.5rem;
    transition:       all 300ms;
    z-index: 9;

    &:before {
        content:    " ";
        display:    block;
        float:      right;
        width:      1rem;
        height:     1rem;
        transition: width 500ms;
    }

    i,
    em{
        font-size:   1rem;
        line-height: 1rem;
        position:    absolute;
        top:         0.4rem;
        right:        0.75rem;
        font-style: normal;
    }

    span {
        transition: max-height 150ms, max-width 150ms 150ms;

        display:    block;
        max-width:  0;
        overflow:   hidden;
        box-sizing: border-box;
        max-height: 2rem;
        a {
            color: #FFFFFF;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.in {
        &:before {
            width:      1.75rem;
            transition: width 50ms;
        }
        max-height: 100vh;
        span {
            transition: max-width 300ms, max-height 150ms 150ms;
            max-height: 100vh;
            max-width:  100vw;
        }
    }

}