.impact-statement {
    font-size:   1.8rem;
    font-family: $font-family-serif;
    text-align:  center;
    padding:     2rem 0;

    color:       $brand-accent;

    .brand {
        color: $brand-primary;
    }
}