.impact-statement {
    font-size:   1.8rem;
    font-family: $font-family-serif;
    text-align:  center;
    padding:     $panel-padding 0;

    color:       $brand-accent;

    .brand {
        color: $brand-primary;
    }

    @include media-breakpoint-up(md){
        padding: $panel-padding-md 0;
    }
}