.modal.modal-fullscreen {
	.modal-dialog {
		width: 100%;
		height: 100%;
		margin: 0;
		display: table;
	
		.modal-content {
			border: none;
			display: table-cell;
			vertical-align: middle;

			&.modal-content-transparent{
				background-color: transparent;
			}

			.modal-header, .modal-footer {
				position: absolute;
				left: 0;
				right: 0;
				color: #FFF;
				text-shadow: 0 2px 2px rgba(0,0,0,.9);
				z-index: 1;
				a {
					color: #FFF;
				}
			}

			.modal-header {
				top: 0;
				border-bottom: none;
				.close {
					text-shadow: 0 2px 2px rgba(0,0,0,.9);
					color: #FFF;
					opacity: 0.5;
					font-size: 2rem;
					margin-right: 2rem;
				}
			}
			
			.modal-footer {
				bottom: 0;
				border-top: none;
				color: #FFF;
				a {
					color: #FFF;
				}
			}
		}
	}
}