.mobile-nav-links {
 	a {
		display:block;
		color: #eee;
		padding: 0.75rem 1rem;
		position: relative;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		font-size: 1rem;
		&:after{
			position: absolute;
			display: inline-block;
			content:$kf-angle-right;
			right: 1rem;
			font-family: $font-family-kentfont;
		}

		&:hover{
			background-color: rgba(255,255,255,0.1);
		}
		&.active{
			background-color: rgba(255,255,255,0.1);
		}


	}
}

.card-panel.nav-links-panel, .nav-links-panel{
	padding: 0;

	.card-panel-body{
		margin:0;
		max-width: none;
		padding: 0;
	}
	nav{
		overflow:         hidden;
		width:            100%;
		padding:          0;
		a{
			display: block;
			position: relative;
			padding: 0.75rem 1rem;
			border-bottom: 1px solid #ddd;
			font-size: 1rem;
			color: $brand-primary;
			.nav-link-desc {
				display: none;
			}
			&:first-child{
				border-top: 1px solid #ddd;
			}

			&:after{
				position: absolute;
				display: inline-block;
				content:$kf-angle-right;
				right: 1rem;
				font-family: $font-family-kentfont;
				color: $brand-accent;
			}
		}
	}

	@include media-breakpoint-up(md) {
		padding: 1rem;

		.card-panel-body{
			@extend .container;
		}
		nav {
			display:          table;
			table-layout:     fixed;

			a {
				min-width:        1%;
				display:          table-cell;

				border:           0;
				color:            $brand-primary;
				line-height:      1.25rem;
				text-align:       left;
				padding:          0.75rem;
				text-decoration:  none;
				height:           $global-nav-height - 1.2;
				background-color: transparent;
				transition:       background-color 300ms;
				&:hover, &:focus, &:active {
					outline:          none;
					background-color: rgba(255,255,255,0.7);
				}
				&:first-child{
					border: none;
				}
				.nav-link-desc {
					margin-top:  .4rem;
					font-family: $font-family-sans-serif;
					display:     inline-block;
					font-size:   0.85rem;
					width:       100%;
					color:       $gray-dark;
					line-height: 1rem;
				}
				&:after {
					display: none;
				}
				.nav-link-title {
					font-family: $headings-font-family;
					font-size:   1.2rem;
					&:after {
						content:      $kf-angle-right;
						font-family:  $font-family-kentfont;
						color:        $brand-accent;
						padding-left: .5rem;
					}
				}
				@include media-breakpoint-up(lg) {
					.nav-link-title {
						font-size: 1.4rem;
					}
					line-height: 1.4rem;
					padding:     1rem;
					.nav-link-desc {
						font-size:   0.9rem;
						line-height: 1rem;

					}
				}
				@include media-breakpoint-up(xxl) {
					.nav-link-desc {
						width:        80%;
						margin-right: 20%;
					}
				}

			}
		}
	}
}