.panel{
    padding: 1rem;

    *:last-child{
      margin-bottom: 0;
    }

    margin-bottom: 1rem;
}

@each $name, $color in $brand-colors-light {
    .panel-#{$name} {
        background: $color;
    }
}

@each $name, $color in $brand-colors-dark {
    .panel-#{$name} {
        background: $color;
        color:      #FFFFFF;

        h1,.h1,
        h2,.h2,
        h3,.h3,
        h4,.h4,
        h5,.h5,
        h6,.h6{
            color: #FFF;
        }
    }
}

@each $name, $color in $brand-colors {
    .panel-outline-#{$name} {
        border: solid 1px $color;
    }
}