.kent-slider{
	.slick-list{
		width: 100%;
	}
	.kent-slide{
		position: relative;
		cursor: -webkit-grab;
		width:100%;
	}
	.slick-prev,.slick-next{
		z-index: 1;
		position: absolute;
		top: 50%;
		margin-top: -1.5rem;
		@include text-hide();
		border:none;
		padding: 0;
		width: 3rem;
		height: 3rem;
		display: block;
		&:focus{
			outline: none;
		}
		&:after{
			position: absolute;
			font-family: $font-family-kentfont;
			color: rgba(255,255,255,0.7);
			display: block;
			width: 3rem;
			height: 3rem;
			top:0;
			line-height: 3rem;
			text-align: center;
			font-size: 3rem;
			transition: color .3s ease-in-out;
			-moz-transition: color .3s ease-in-out;
			-webkit-transition: color .3s ease-in-out;
		}
		&:hover{
			&:after{
				color: rgba(255,255,255,1);
			}
		}
		@include media-breakpoint-up(md){
			bottom: 50%;
			bottom: calc( 50% - 1.5rem);
		}
	}
	.slick-prev{
		left:0;
		&:after{
			content: $kf-chevron-left-square;
		}
	}
	.slick-next{
		right:0;
		&:after{
			content: $kf-chevron-right-square;
		}
	}

	.kent-slider-dots{
		position: absolute;
		bottom: 0;
		text-align: center;
		list-style: none;
		width: 100%;
		margin-bottom: 0;
		li{
			display: inline-block;
			padding: 0;
			&:before{
				display:none;
			}
			button{

				display: block;
				padding: 0;
				width: 1rem;
				height: 1rem;
				@include text-hide();
				&:after{
					position: absolute;
					font-family: $font-family-kentfont;
					color: rgba(255,255,255,0.5);
					display: block;
					width: 1rem;
					height: 1rem;
					top:0;
					line-height: 1rem;
					text-align: center;
					font-size: 0.9rem;
					content: $kf-circle;
				}
				&:focus{
					outline: none;
				}
			}

			&.slick-active{
				button{
					&:after{
						color: #FFF;
					}
				}
			}
		}
	}
}
