.table {
    th {
        color:      $brand-primary;
    }

    thead tr:first-child th {
        border-top: 0;
    }

    & > tr:first-child, & > tbody > tr:first-child {
        border-top: 3px solid #05345C;
    }
}