.tag {
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0 .4rem 0 0;
	vertical-align:text-bottom;
	font-weight: normal;
    padding: .5rem .75rem;

	&:last-child {
		margin-right: 0;
	}
}

// Create brand tags
@each $name, $color in $brand-colors-dark {
	.tag-#{$name} {
	  @include tag-variant($color);
	}
}
@each $name, $color in $brand-colors-light {
	.tag-#{$name} {
        @include tag-variant($color);
        color: $body-color;
	}
    a.tag-#{$name}{
        @include hover-focus(){
            color: $body-color;
        }
    }

}