@mixin underlined-links{
    a {
        border-bottom: 1px solid #CCCCCC;
        &:hover, &:focus {
            border-bottom: 1px solid $link-hover-color;
        }
    }
}

@mixin bullet-list {
    list-style: none;
    padding:    0;
    li {
        padding-left: 0.8rem;
        position:     relative;
        &:before {
            font-family: $font-family-kentfont;
            content:     $kf-square;
            color:       $brand-primary;
            font-size:   0.35rem;
            left:        0;
            top: 0.2rem;
            position:    absolute;
            padding-top: 0.45rem;
        }
        ul {
            list-style:   none;
            padding-left: 2rem;
            li {
                &:before {
                    color: $gray-light;
                }
            }
        }
    }
}

@mixin link-list {

    list-style: none;
    padding:    0;
    li {

        border-bottom: 1px solid $border-gray;
        a {
            padding:       0.5rem 0;
            display:        inline-block;
            vertical-align: middle;
            overflow:       hidden;
            width:          100%;
            border-bottom: none;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                font-weight: bold;
                color: $brand-accent;
                border-left: 3px solid $brand-accent;
                margin-left: -8px;
                padding-left:5px;
            }
        }
        span {
            display:       block;
            color:         $brand-accent;
            line-height:   0.9rem;
            margin-bottom: 0.2rem;
        }
    }

}

h1, .h1 {
    font-family: $font-family-serif;
    color:       $brand-primary;
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color:       $brand-primary;
    font-weight: bold;
}

h2, .h2 {
    margin-bottom: 1.125rem;
}

.sub-heading {
    color:         $brand-accent;
    font-size: 1rem;
    font-weight: normal;
}
.content-header .sub-heading + .lead { padding-top: 0; }

p,
ul,
ol,
table,
form{
    & + h2,
    & +.h2{
        margin-top: 2.566rem;
    }
    & + h3, & + .h3 {
        margin-top: 1.802rem;
    }
    & + h4,
    & + .h4,
    & + h5,
    & + .h5,
    & + h6,
    & + .h6 {
        margin-top: 1.266em;
    }
}

.lead {
    font-family:   $font-family-serif;
    color:         $brand-primary;
    margin-top:    2rem;
    font-weight:   bold;
    font-size:     1.2rem;
    padding-bottom:2rem;
    border-bottom: 1px solid $border-gray;
    margin-bottom: 2rem;
    // Sometimes 2 paragraphs of lead text are wanted - in this case, p can be put inside of a div.lead
    // to acheave this. In this case, don't add bottom padding to last p, so sizing looks normal
    p:last-child {
        margin-bottom:0;
    }
}

.strap-line {
    font-family:    $font-family-serif;
    color:          $brand-primary;
    text-transform: uppercase;
    font-weight:    normal;
    margin-bottom:  0.5rem;

    span {
        color: $brand-accent;
    }
}

.smaller {
    font-size: $smaller-font-size;
    font-weight: normal;
}

@include media-breakpoint-down(xs){
    h1{
        font-size: 2.281rem;
    }
}

@include media-breakpoint-up(xl) {
    html {
        font-size: 18px;
    }
}

@include media-breakpoint-up(xxxl) {
    html {
        font-size: 20px;
    }
}

.content-header,
.content-container {

    h1 {
        margin-bottom: 2rem;
    }

    .content-main,
    .content-full {
        h2 {
            margin-top: 1.5rem;
        }
        & > ul {
            @include bullet-list();
            padding-left: 2rem;
        }
      }
}

.content-full,
.content-header {
    .lead {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    @include media-breakpoint-down(sm) {
        .lead {
            padding-top: 0;
        }
    }
}

.content-container {
    p,
    td,
    li{
        @include underlined-links;
    }
}


.lead.split {

    .wrapper {
        display: inline;

        @include media-breakpoint-down(md){
            display:none
        }
    }

    @include media-breakpoint-up(lg) {
        p {
            width: 80%;
            display: inline-block;
            vertical-align: top;
        }

        svg {
            margin-left: 0.5rem;
            rect {
                transform: rotate(25deg)
            }
        }
    }

}
.current-year {
    display:inline-block;
    vertical-align: top;
    font-weight: normal;
    text-align:center;

    .entry-year {
        display:inline;
        color: $brand-accent;
        font-size: 2.5rem;
        vertical-align: top;
    }

    .current {
        font-family: $font-family-sans-serif;
        font-size: 1rem;
    }
}


@each $name, $color in $brand-colors {
    @include text-emphasis-variant('.text-#{$name}', $color);
}
