/*doc
---
title: Typography
name: typography
category: Layout
---

## House style

The University has a [set of brand guidelines](http://www.kent.ac.uk/brand/writing/house-style.html) for consistency in writing copy.
*/

h1,.h1 {
  font-family: $font-family-serif;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
  color: $brand-primary;
}
