.video-launcher {
	cursor: pointer;

	&:after {
		content:                    $kf-play-circle;
		font-family:                $font-family-kentfont;
		position:                   absolute;
		left:                       50%;
		left:                       calc(50% - 2.25rem);
		top:                        50%;
		top:                        calc(50% - 2.25rem);
		font-size:                  4.5rem;
		line-height:                4.5rem;
		line-height:                calc(4.5rem); // IE11 workaround
		width:                      4.5rem;
		height:                     4.5rem;
		text-align:                 center;
		color:                      rgba(255, 255, 255, 0.7);
		transition:                 all 300ms;
		transition-timing-function: linear;
		transform-origin:           50% 50%;
		pointer-events:             none;


		@include media-breakpoint-up(sm) {
			left:        calc(50% - 3.5rem);
			top:         calc(50% - 3.5rem);
			font-size:   7rem;
			line-height: 7rem;
			line-height: calc(7rem); // IE11 workaround
			width:       7rem;
			height:      7rem;
		}
	}

	&:hover {
		&:after {
			color:     #FFFFFF;
			transform: scale(1.1, 1.1);
		}
	}
	& > .video-player {
		display:none;
	}
	& > img {
		display:block;
	}

	// ensure playing selector is pretty strong
	&.playing.playing.playing {
		& > .video-player {
			display:block;
		}
		& > img {display:none;}
		&::after {display:none;}

		// plyr - hide icon toggles
		.plyr--muted .kf-volume-medium,
		.plyr--fullscreen-active .kf-expand,
		.plyr--captions-active .kf-captions-off {
			display:none;
		}

		// style primary play button in brand
		.plyr__play-large {
			background:none;
			border:none;
			box-shadow:none;

			font-size:7rem;
			color: rgba(255, 255, 255, 0.7);

			.kf-play-circle {
			    transition: all 300ms;
			}

			&:hover .kf-play-circle {
				color: #fff;
				transform: scale(1.1, 1.1);
			}
		}
	}
}