.plyr{
    width: 100%;
}

.video-launcher {

	position: relative;

	&[data-mode='inline'] > .video-player{
		transition: max-height 300ms; //only transition inline
	}

	& > .video-player {
        font-size: 1rem;
		max-height:0;
        overflow: hidden;
	}

	& > img {
		display:block;
		max-width:100%;
	}

	// ensure playing selector is pretty strong
	&.playing.playing.playing {

        &::before{
            padding-top: 0;
        }
        .card-embed-wrap {
        	padding-bottom:0;
        	height:auto;
        }

		& > .video-player {
			max-height:none;
		}

		& > img,
        & > video {
            display:none;
        }

		&::after {
            display:none;
        }

        .attribution {
        	display:none;
        }

		// plyr - hide icon toggles
		.plyr--muted .kf-volume-medium,
		.plyr--fullscreen-active .kf-expand {
			display:none;
		}

		// style primary play button in brand
		.plyr__play-large {
			background:none;
			border:none;
			box-shadow:none;

			font-size:7rem;
			color: #FFF;
            text-shadow: 0 0 20px #333;
            opacity:.7;

			.kf-play-circle {
			    transition: all 300ms;
			}

			&:hover .kf-play-circle {
				opacity: 1;
				transform: scale(1.1, 1.1);
			}
		}
	}
}

.fs-toggle{
    position: absolute;
    padding:.5rem;
    right:0;
    top: 0;
    color: #FFF;
    font-size: 2rem;
    z-index: 999999;
    display: block;
}
.plyr--fullscreen-enabled{
    .fs-toggle {
        display: none;
    }
}

figure .video-launcher[data-mode='inline'] > .video-player {
	transition: none;
}
