.plyr{
    width: 100%;
}

.video-launcher {

	position: relative;

	& > .video-player {
        transition: max-height 300ms;
		max-height:0;
	}

	& > img {
		display:block;
		max-width:100%;
	}

	// ensure playing selector is pretty strong
	&.playing.playing.playing {

        &:before{
            padding-top: 0;
        }
		& > .video-player {
			max-height:100vh;
		}
		& > img {display:none;}
		&::after {display:none;}

		// plyr - hide icon toggles
		.plyr--muted .kf-volume-medium,
		.plyr--fullscreen-active .kf-expand,
		.plyr--captions-active .kf-captions-off {
			display:none;
		}

		// style primary play button in brand
		.plyr__play-large {
			background:none;
			border:none;
			box-shadow:none;

			font-size:7rem;
			color: #FFF;
            text-shadow: 0 0 20px #333;
            opacity:.7;

			.kf-play-circle {
			    transition: all 300ms;
			}

			&:hover .kf-play-circle {
				opacity: 1;
				transform: scale(1.1, 1.1);
			}
		}
	}
}