.quickspot-container {
	position:relative;
	/*Oddly IE7 is fine without this, IE8 on the other hand gets a bit confused*/
	position:absolute\9; 
}

#quickspot-results-container {

}


.quickspot-results {
	width: 100%;
	background: #eee;

	max-height: 14.2rem;
	overflow:auto;
	



	.quickspot-result {
		padding:8px 10px;
		display:block;
		text-decoration: none;
		cursor:pointer;
		color: $body-color;
		background: #fff;
		transition: background .25s;
		position: relative;
		margin-bottom: 1px;

		&:before {
			color: #ccc;
			float: right;
			content: $kf-chevron-right;
			font-family: $font-family-kentfont;
			position: absolute;
			right: .5rem;
			top: 35%; // old browsers
			top: calc(50% - 0.5rem);
		}

		&.pg {
			border-left: solid .5rem $kent-pg-primary;
		}
		&.ug {
			border-left: solid .5rem $kent-primary;
		}

		strong {
			color: #000;
		}
		span {
			font-style: italic;
			color: $brand-accent;

			&.level {
				color: $gray-light;
			}
		}
		&.selected {
			background: #eee;
			transition: background .25s;
		}

		.kf-search {
			color: #ccc;
		}	
	}
}


/* Emulates form-group input sizing (to allow it to match with search element more easily) */
#quickspot-results-container {
	position:relative;
	z-index:9999;
	border:solid 1px #ccc;
	border-top:0px;
	display:block;
	box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, 0.3);


	.course-links {
		border-top: solid 1px #ccc;
		background: #fff;
		a {
			display: inline-block;
			font-size: 0.9rem;
			padding: 10px;
			width:100%;
			border-bottom: 1px solid #ddd;

			@include media-breakpoint-up(sm){
				width:33.3%;
				padding: 10px 0;
				border-bottom: none;
				text-align:center;
			}
		}
	}	

	@include media-breakpoint-up(sm){ 
		position:absolute;
		//top:3.2rem;
		left:0;	
		width:100%;
	}

	@include media-breakpoint-up(md){
		&.quickspot-contained {
			margin-left: 15%;
	 		margin-right: 15%;
		}
	}
		
}


/* style helper */
.quickspot-container {
	.form-group {
		margin-bottom:0px;
	}
}