.departmental-nav {

    header {
        font-family:      $font-family-serif;
        background-color: $brand-primary-light;
        color:            #FFFFFF;
        padding:          .5rem 1rem;
        font-size:        1.1rem;
        text-transform:   uppercase;
        a{
            &,&:hover,&:focus,&:active {
                color: #fff;
            }
        }
    }
    .navbar-toggler {
        width: auto;
        background-color: $brand-nav-bg;
        color: $brand-primary;
        cursor:           pointer;
        font-size: 1rem;
        padding: .5rem 1rem;

        &:after {
            float:       right;
            content:     $kf-chevron-down;
            font-family: $font-family-kentfont;
        }

        &.in {
            &:after {
                content: $kf-chevron-up;
            }
        }
    }
    .navbar-menu {
        max-height:                 0;
        overflow:                   hidden;
        background-color: $brand-nav-bg;
        color: $brand-primary;
        transition:                 max-height 300ms;

        position:                   relative;
        font-size:                  0;


        &.in {
            max-height: 200vh;
        }

        @extend .mobile-nav-links;

        & > a:last-child {
            border-bottom: none;
        }

        & > a:first-child {
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }

        a {
            color: $brand-primary;
            border-bottom: 1px solid $brand-nav-active;

            &:hover, &.active {
                background-color: $brand-nav-active;
            }
            &:first-child{
                 border-top: 1px solid $brand-nav-active;
            }
        }

    }

    @include media-breakpoint-up(md) {
        z-index:    1;
        position:   relative;

        header {
            font-size: 2.2rem;
        }

        header, nav {
            margin:       0 2rem;
            padding-left: 1rem;
        }

        &.slim {

            header {
                font-size: 1.2rem;
                padding:   .5rem 1rem;
            }
        }

        .navbar-menu {

            max-height:    2.5rem;
            height:        auto;
            overflow:      hidden;
            padding-left: 0;
            padding-right: 1rem;
            border:        none;
            transition: none;
            position: absolute;
            width: calc(100% - 4rem);

            &.overflown {
                padding-right: 5rem;
            }

            &.in {
                max-height: none;
                &:after {
                    position:      absolute;
                    width:         100%;
                    border-bottom: 1px solid #696969;
                    top:           2.5rem;
                    left:          0;
                    content:       '';
                }
            }

            a {
                display:       inline-block;
                padding:       0.5rem 1rem;
                border-top:    none;

                &:first-child {
                    border-top: none;
                }
                &:after {
                    display: none;
                }
            }
        }

        .navbar-toggler {

            position:         absolute;
            right:            3rem;
            padding:          0.5rem 1rem 0.5rem 0.5rem;
            cursor:           pointer;
            z-index:          1;
            font-size:        1rem;
            background-color: transparent;
            line-height:      inherit;
            border:           none;

            &:after {
                float:     none;
                position:  absolute;
                top:       0.7rem;
                right:     0;
                font-size: 0.7rem;
            }
            /* Only show when overflown */
            display:          none;
            &.overflown {
                display: block;

                &::before {
                    content: "More";
                }

                span {
                    display: none;
                }
            }
        }
    }
}