.global-header {
	background-color: transparent;

	@include media-breakpoint-up(md) {
		position: relative;
		z-index: 10;
	}
}

.global-nav {

	background-color: lighten($gray-dark, 5%);
	overflow: hidden;

	a.main-logo {
		font-size:3.5rem;
		color: $kent-primary;
		padding:1rem;
		display:none;

		&:hover { text-decoration:none;}
	}

	.global-nav-menu,
	.global-nav-search {
		height:0;
		transition: height 300ms;
		overflow:hidden;
		.close-search {display:none;}
		.input-group {padding:1rem;}
	}

	.search-button-full {
		display:none;
	}


	.global-nav-links {
		box-shadow: 0 5px 15px $gray-dark;

		.global-nav-link {
			background-color: #fff;
			a {
				display:block;
				line-height: 3rem;
				border-bottom: solid 1px #eee;
				padding-left:1rem;
				color: $kent-primary;
				cursor:pointer;

				text-transform: uppercase;
				font-family: $font-family-serif;

				&:hover,&:active,&:focus {
					text-decoration:none;
				}

				.more {
					float:right;
					display:block;
					height:3rem;
					width: 3rem;
					text-align: center;
					border-left: solid 1px #eee;
					padding: 1rem;
				}
			}

			nav {
				max-height:0;
				overflow: hidden;
				transition: max-height 300ms;

				a {
					font-family: $font-family-sans-serif;
					text-transform: none;
					background: $brand-tertiary;
					border-bottom: solid 1px #ddd;
					color: $kent-primary;

					.more { border-left: solid 1px #ddd;}
					.global-nav-link-desc { display:none;}
				}
			}
		}

		&.in {
			.global-nav-link {

				&.in{

					& > a {

						.more{
							&::before {
								content: $kf-chevron-up;
							}
						}
					}

					nav {
						max-height: 100vh;
					}
				}
			}
		}
	}

	.audience-nav-links {
	 	a {
			display:block;
			color: #eee;
			padding: 0.75rem 1rem;
			position: relative;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			&:after{
				position: absolute;
				display: inline-block;
				content:$kf-angle-right;
				right: 1rem;
				font-family: $font-family-kentfont;
			}
		}
	}


	@include media-breakpoint-up(md) {
		background-color: #FFF;

		padding:0 2rem;

		a.main-logo {display:block; float:left;padding-left:0;}

		.global-nav-menu{
			display:block; 
			height:auto;
			padding-right: 1rem;
		}

		.global-nav-search {
			opacity: 0;
			transition: opacity 600ms;
		}

		.audience-nav-links {
			position:absolute;
			top: 0;
			right: 2rem;
			margin-top:.2rem;
			a {
				color:#fff;
				display:inline-block;
				padding: 0 0 0 1rem;
				font-size: 0.9rem;
				border:none;
				&::after { display:none; }
			}
		}
		
		.search-button-full {

			display:block;
    		margin-top: 1.25rem;
			border-width: 3px 2px 1px 1px;
			@include media-breakpoint-up(xl) {
				border-width: 5px 3px 1px 1px;
			}
			&:focus,&:active{
				outline: none;
			}
		}


		.global-nav-links {
			display: table;
			table-layout: fixed;
			width:100%;
			box-shadow: none;
			height: $global-nav-height - 3;
			transition: height 300ms;

			.global-nav-link {
				min-width: 1%;
				font-size: 1.46rem;
				display: table-cell;
				padding: 1.4rem 1rem 1rem;
				text-align: center;

				& > a {
					padding-left: 0;
					border-bottom: none;
					position: relative;
					transition: color 300ms;

					.more {
						opacity: 0;
						transition: opacity 300ms;
						background-color: $brand-tertiary;
						width:2.5rem;height:2.5rem;
						padding:0;

						position:absolute;
						bottom: -3.5rem;
						left: 40%;
						left: calc(50% - 1.25rem);
						transform: rotate(45deg);

						&::before { content:""; }
					}
				}

				.global-nav-link-submenu{
					max-height: 0;
					transition: max-height 200ms;
					overflow: hidden;
					width:100%;
					position: absolute;
					left:0;
					top: $global-nav-height - 0.5;
				}
				nav {
					display: table;
					overflow: hidden;
					width:100%;
					table-layout: fixed;


					a {
						min-width:1%;
						display:table-cell;
						font-family: $font-family-serif;
						position: relative;
						border:0;
						color: $kent-primary;
						font-size:1.1rem;
						line-height: 1.25rem;
						text-align:left;
						padding:0.75rem;
						text-decoration: none;
						height: $global-nav-height;

						&:hover,&:focus,&:active{
							outline: none;
							background: lighten($brand-tertiary,5%);
						}

						.global-nav-link-desc {
							margin-top: .5rem;
							font-family: $font-family-sans-serif;
							display:inline-block;
							font-size:0.85rem;
							width:100%;
							color: $gray-dark;
							line-height: 1rem;
							padding-right: 0.5rem;
						}
						.more {
							width:1rem;
							position: absolute;
							display:block;
							border-left:0;
							height:25px;
							right: 0.5rem;
							padding:0;

							font-size: 1.5rem;
							top: 1.75rem;

							color: $brand-accent;

						}
						@include media-breakpoint-up(lg) {
							font-size: 1.25rem;
							line-height: 1.4rem;
							padding:1rem;
							.global-nav-link-desc {
								font-size:0.9rem;
								line-height: 1rem;

							}
						}



					}
				}
			}

			&.in {
				height: ($global-nav-height + 5);

				.global-nav-link-submenu{
					max-height: $global-nav-height;
					transition: max-height 200ms;
					nav{
						border-top: 2px solid $brand-tertiary;
					}
				}

				.global-nav-link{

					display: table-cell;

					&.in{
						.global-nav-link-submenu{
							z-index: 1;
						}
					}
					&.in > a{
						color: $brand-accent;
						& > .more {
							opacity: 1;
							&::before { content:""; }
						}
					}
				}
			}
		}
	}

}

.show-global-menu, .show-global-search {
	overflow-y:hidden;

	.global-header {

		button.menu-button::before, button.search-button::before{
			content: $kf-close;
		}

		.global-nav-menu.in,
		.global-nav-search.in {
			opacity: 1;
			height:100vh;
			width: 100vw;
		}
	}

	@include media-breakpoint-up(md) {
		overflow-y:auto;

		.global-header {
			.global-nav-menu.in,
			.global-nav-search.in {
				height: auto;
				width: auto;
				float: none;
			}

			.global-nav-search.in {
				opacity: 1;
				min-height: 5.5rem;
				overflow: visible;

				.close-search {
					display: block;
					font-size: 0.9rem;
					position: absolute;
					right: 3rem;
					top: 8rem;
					color: #FFF;
					z-index: 10;
				}
				.form-group {
					position: absolute;
					margin: 0.25rem 1rem 0 8rem;
					.input-group {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}

/* Swap buttons in header */
.show-global-menu .global-header{
	button.search-button {display:none;}
}
.show-global-search .global-header{
	button.menu-button {display:none;}
}



body{

	@include media-breakpoint-up(md) {
		&:before {
			content: " ";
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 5;
			top: 0;
			left: 0;
			background-color: transparent;
			transition: background-color 600ms;
			pointer-events: none;
		}
		.departmental-nav {
			&:before {
				content: " ";
				width: calc(100% - 4rem);
				height: 100%;
				position: absolute;
				z-index: 5;
				top: 0;
				left: 0;
				margin: 0 0 0 2rem;
				background-color: transparent;
				transition: background-color 600ms;
				pointer-events: none;
			}
		}
	}
	&.show-global-search{

		.global-nav-menu .global-nav-links {
			display: none;
		}
		@include media-breakpoint-up(md) {
			&:before {

				background-color: rgba(0,0,0,0.5);
			}
			.departmental-nav {
				&:before {
					background-color: rgba(0,0,0,0.5);
				}
			}
		}

	}
}

