nav.breadcrumb {
	margin: 0 2rem;
	display:none;
	background: #fff;
	border-bottom: solid 1px $border-gray;
	padding: 0 1rem;
	padding-top: 0.5rem;
	line-height: 1rem;

	a, span {
		padding-left:0.5rem;
		font-size: 0.9rem;

		max-width: 18rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow:hidden;
		display:inline-block;
		line-height: 1rem;
		vertical-align: middle;
		margin-bottom: .5rem;
	}
	a {
		@extend .chevron-link;
		
		&:after {
			padding-left:1rem;
		}
	}

	@include media-breakpoint-up(md) {
		display:block;
	}
}