.departmental-nav {

    header {
        font-family:      $font-family-serif;
        background-color: $brand-primary;
        color:            #FFFFFF;
        padding:          .5rem 1rem;
        border-top:       1px solid lighten($brand-primary, 6%);
        font-size:        1.1rem;
        text-transform:   uppercase;
        a{
            &,&:hover,&:focus,&:active {
                color: #fff;
            }
        }
    }
    .navbar-toggler {
        background-color: $gray-dark-trans;
        color:            #FFFFFF;
        cursor:           pointer;

        &:after {
            float:       right;
            content:     $kf-chevron-down;
            font-family: $font-family-kentfont;
        }

        &.in {
            &:after {
                content: $kf-chevron-up;
            }
        }
    }
    .navbar-menu {
        max-height:                 0px;
        overflow:                   hidden;
        background-color:           $gray-dark-trans;
        color:                      #FFFFFF;
        transition:                 max-height 300ms;
        transition-timing-function: ease-in-out;

        position:                   relative;
        font-size:                  0;
        &.in {
            height:     auto;
            max-height: 1000px;
        }

        @extend .mobile-nav-links;

        & > a:last-child {
            border-bottom: none;
        }

        & > a:first-child {
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }

    }

    @include media-breakpoint-up(md) {
        min-height: 7rem;
        z-index:    1;
        position:   relative;

        header {
            font-size: 2.2rem;
        }

        header, nav {
            margin:       0 2rem;
            padding-left: 1rem;
        }

        &.slim {
            min-height: 4.8rem;

            header {
                font-size: 1.2rem;
                padding:   .5rem 1.5rem;
            }
        }

        .navbar-menu {

            max-height:    2.5rem;
            height:        auto;
            overflow:      hidden;
            padding-right: 1rem;
            border:        none;

            &.overflown {
                padding-right: 5rem;
            }

            &.in {
                max-height: none;
                &:after {
                    position:      absolute;
                    width:         100%;
                    border-bottom: 1px solid #696969;
                    top:           2.5rem;
                    left:          0;
                    content:       '';
                }
            }

            a {
                display:       inline-block;
                padding:       0.5rem 1rem;
                border-top:    none;
                border-bottom: none;
                &:first-child {
                    border-top: none;
                }
                &:after {
                    display: none;
                }
            }
        }

        .navbar-toggler {

            position:         absolute;
            right:            3rem;
            padding:          0.5rem;
            padding-right:    1rem;
            cursor:           pointer;
            z-index:          1;
            font-size:        1em;
            background-color: transparent;
            line-height:      inherit;

            &:after {
                float:     none;
                position:  absolute;
                top:       0.7rem;
                right:     0;
                font-size: 0.7rem;
            }
            /* Only show when overflown */
            display:          none;
            &.overflown {
                display: block;

                &::before {
                    content: "More";
                }

                span {
                    display: none;
                }
            }
        }
    }
}

.show-departmental-menu {
    @include media-breakpoint-up(md) {
        .departmental-nav {
            min-height: 10rem;

            &.slim {
                min-height: auto;
            }
        }
    }
}

.brand-header {
    .departmental-nav {
        header{
            border-top: none;
            background-color: $brand-primary-light;
        }

        .navbar-toggler,
        .navbar-menu {
            background-color: $brand-nav-bg;
            color: $brand-primary;
        }

        .navbar-menu {
            a {
                color: $brand-primary;

                border-bottom: 1px solid $brand-nav-active;

                &:hover {
                    background-color: $brand-nav-active;
                }
                &.active {
                    background-color: $brand-nav-active;
                }

                &:first-child{
                    border-top: 1px solid $brand-nav-active;
                }
            }
        }
    }
}