#kentBar.kent-bar,
#kentBar.audience-bar {
    background-color: $brand-primary;
    color:            #FFFFFF;
    padding:          0;
    // set px size as this shouldn't change when base font is bumped
    font-size:        14.4px;

    a.navbar-brand {
        font-size: 1.2rem;
        padding:   .8rem 0 .8rem 1rem;
        margin:    0;
        color:     #FFFFFF;
        display:   block;
    }
    .tag-line {
        padding: 0.3rem 0 0.3rem 2rem;
        display: none;
    }

    button {
        @extend .kf;
        width:            3rem;
        padding:          .8rem;
        background-color: lighten($brand-primary, 3%);
        border:           none;
        font-size:        1.2rem;
        float:            right;
        &:focus, &:active {
            outline: none;
        }
    }

    button.menu-button {
        background-color: lighten($brand-primary, 6%);

        &:before {
            content: $kf-menu;
        }
    }
    button.search-button {
        &:before {
            content: $kf-search;
        }
    }

    .audience-nav-links {
        margin-right: 2rem;
        // set px size as this shouldn't change when base font is bumped
        font-size:    14.4px;
    }

    &.in{
        .audience-nav-links {
            height: 166px;
        }
    }

    @include media-breakpoint-up(md) {
        a.navbar-brand, button {
            display: none;
        }

        .tag-line {
            display: inline-block;
        }

        &.in{
            .audience-nav-links {
                height: auto;
            }
        }
    }
}