#kentBar.kent-bar,
#kentBar.audience-bar{
	background-color: $brand-primary;
	color: #fff;
	padding: 0;
	font-size: 1rem;

	a.navbar-brand {
		font-size: 1.2rem;
		padding: .8rem 0 .8rem 1rem;
		margin: 0;
		color: #fff;
		display:block;
	}
	.tag-line {
		padding:0.3rem 0 0.3rem 2rem;
		display:none;
	}

	button {
		@extend .kf;
		width: 3rem;
		padding: .8rem;
		background-color: lighten($brand-primary, 3%);
    	border: none;
    	font-size:1.2rem;
		float: right;
		&:focus,&:active{
			outline: none;
		}
	}
	
	button.menu-button {
		background-color: lighten($brand-primary, 6%);

		&:before {
			content: $kf-menu;
		}
	}
	button.search-button {
		&:before {
			content: $kf-search;
		}
	}

	.audience-nav-links{
		margin-right: 2rem;
	}

	@include media-breakpoint-up(md) {
		a.navbar-brand, button {
			display:none;
		}

		.tag-line {
			display: inline-block;
		}
	}
}