#kentBar.kent-bar,
#kentBar.audience-bar {
    position: relative;
    background-color: $brand-primary;
    color:            #FFFFFF;
    padding:          0;
    // set px size as this shouldn't change when base font is bumped
    font-size:        14.4px;
    height: $kentbar-height;


    a.navbar-brand {
        position: absolute;
        top: 0;
        float: none;
        font-size: 1.2rem;
        padding:   .8rem 0 .8rem 1rem;
        margin:    0;
        color:     #FFFFFF;
        display:   block;
    }
    .tag-line {
        display: none;
    }

    button {
        @extend .kf;
        width:            3rem;
        padding:          .8rem;
        background-color: lighten($brand-primary, 3%);
        border:           none;
        font-size:        1.2rem;
        float:            right;
        &:focus, &:active {
            outline: none;
        }
    }

    button.menu-button {
        background-color: lighten($brand-primary, 6%);

        &:before {
            content: $kf-menu;
        }
    }
    button.search-button {
        &:before {
            content: $kf-search;
        }
    }

    .audience-nav-links {
        margin-right: 2rem;
        // set px size as this shouldn't change when base font is bumped
        font-size:    14.4px;
    }

    &.in{
        .audience-nav-links {
            height: 166px;
            position: relative;
            z-index: 1;
        }
    }

    @include media-breakpoint-up(md) {
        height: $kentbar-height-desktop;

        a.navbar-brand, button {
            display: none;
        }

        .tag-line {
            display: block;
            position: absolute;
            top: .3rem;
            left: 2rem;
            padding: 0;
        }

        &.in{
            .audience-nav-links {
                height: auto;
            }
        }
    }
}

.show-kentbar-menu{
    overflow-y: hidden;
    height: 100%;
}


// Hide audience-menu on mobile
// Since personalization is currently blocked, it was requested to remove the button
// as it duplicated the main menu ones. I've left everything in for now as we may well
// want this back if we do the logged in as stuff, so have just hidden it with CSS
#kentBar.kent-bar button.audience-menu {
    display:none;
}
#kentBar.kent-bar.in button.audience-menu {
    display:block;

    @include media-breakpoint-up(md) {
        display:none;
    }
    
}