.departmental-nav {
	header {
		font-family: $font-family-serif;
		background-color: $brand-primary;
		color: #fff;
		padding: .5rem 1rem;
		border-top: 1px solid lighten($brand-primary, 6%);
		font-size:1.1rem;
	  	text-transform: uppercase;
	}
	.navbar-toggler {
		background-color: $gray-dark-trans;
		color:#fff;
		cursor:pointer;
	}
	.navbar-menu {
		max-height:0px;
		overflow:hidden;
		background-color: $gray-dark-trans;
		color:#fff;
		transition: max-height 300ms;

		&.in {
			 height:auto;
			 max-height:1000px;
		}

		a {
			color:#fff;
			display:block;
			padding:0.5rem;
		}
	}

	@include media-breakpoint-up(md) {
		
		z-index: 1;
   		position: relative;

		header {
			font-size:2rem;
		}

		header, nav {
			margin:0 2rem;
			padding-left: 1rem;
		}

		.navbar-toggler {display:none;}
		.navbar-menu {
			max-height: none;
			height:auto;

			a {
				display:inline-block;
			}
		}
	}
}
